<!DOCTYPE html>
<html>
<head>
  <title>Virgin</title>
  <%= stylesheet_link_tag    "virgin/application" %>
  <%= javascript_include_tag "virgin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
